.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li a:hover {
  background-color: rgb(151, 94, 176);
}
body{
  /* background-color: rgb(250, 245, 247); */
  /* background-image: url("C:\Users\BAPS\Pictures\background.webp"); */
  overflow-x: hidden;
  
}
.contact-img{
  width: 200px;
  height: 200px;
  border-radius: 250px;
}
#jigar{
  /* background-image: url("https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"); */
}
#ABC{
 
}
.card{
  /* max-height: 80%; */
  overflow-x: scroll;
}
 
